.movie-list {
  overflow: auto;
  white-space: nowrap;
  /* margin: 20px; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.movie-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.movie-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
