.title,
.year {
  margin: 0;
  padding-left: 8px;
  overflow-wrap: break-word;
  width: max-content;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif4; */
  font-family: "Open Sans", sans-serif;
  width: inherit;
}

.title {
  font-weight: 600;
  font-size: medium;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: black;
  text-decoration: none;
}

.year {
  font-weight: 100;
  font-size: small;
}

.card {
  display: inline-block;
  width: 200px;
}

.poster-wrapper {
  width: inherit;
  overflow: hidden;
  border-radius: 0.6rem;
}

.poster {
  width: inherit;
  border-radius: 0.6rem;
  transition: transform 0.5s ease-in-out;
}

.poster:hover {
  transform: scale(1.2) rotate(-5deg);
}
